<div class="dashboard-wrapper">
  <div class="container-fluid dashboard-content">
    <div class="col-xl-12">
      <div class="page-header" id="top">
        <div class="card">
          <div class="progress-loader" *ngIf="loader">
            <div class="loading-spinner">
              <img src="assets/images/loader.svg" alt="Loading...">
            </div>
          </div>
          <h5 class="card-header">Add User</h5>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="addUser()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" type="text" formControlName="firstName" placeholder="Enter First Name" autocomplete="off" class="form-control">
                    <small *ngIf="form.get('firstName').touched && form.get('firstName').hasError('required')" class="text-danger support-text">
                      First Name is required.
                    </small>
                    <small *ngIf="form.get('firstName').touched && form.get('firstName').hasError('minlength')" class="text-danger support-text">
                      First Name must be at least 3 characters.
                    </small>
                    <small *ngIf="form.get('firstName').touched && form.get('firstName').hasError('pattern')" class="text-danger support-text">
                      First Name should be alphabet.
                    </small>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" type="text" formControlName="lastName" placeholder="Enter Last Name" autocomplete="off" class="form-control">
                    <small *ngIf="form.get('lastName').touched && form.get('lastName').hasError('required')" class="text-danger support-text">
                      Last Name is required.
                    </small>
                    <small *ngIf="form.get('lastName').touched && form.get('lastName').hasError('minlength')" class="text-danger support-text">
                      Last Name must be at least 3 characters.
                    </small>
                    <small *ngIf="form.get('lastName').touched && form.get('lastName').hasError('pattern')" class="text-danger support-text">
                      Last Name should be alphabet.
                    </small>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="emailId">Email Id</label>
                    <input id="emailId" type="email" formControlName="emailId" placeholder="Enter Email Id" autocomplete="off" class="form-control">
                    <small *ngIf="form.get('emailId').touched && form.get('emailId').hasError('required')" class="text-danger support-text">
                      Email Id is required.
                    </small>
                    <small *ngIf="form.get('emailId').touched && form.get('emailId').hasError('email')" class="text-danger support-text">
                      Email must be a valid email address.
                    </small>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="password">Password <span (click)="togglePasswordVisibility()"><i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i></span></label>
                    <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Enter Password" autocomplete="off" class="form-control">
                    <small *ngIf="form.get('password').touched && form.get('password').hasError('required')" class="text-danger support-text">
                      Password is required.
                    </small>
                    <small *ngIf="form.get('password').touched && form.get('password').hasError('minlength')" class="text-danger support-text">
                      Password must be at least 6 characters.
                    </small>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="repeatPassword">Repeat Password <span (click)="toggleRepeatPasswordVisibility()"><i class="fa" [ngClass]="{'fa-eye': showRepeatPassword, 'fa-eye-slash': !showRepeatPassword}"></i></span></label>
                    <input id="repeatPassword" [type]="showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" placeholder="Enter Repeat Password" autocomplete="off" class="form-control" (input)="checkPasswordMatch()">
                    <small *ngIf="form.get('repeatPassword').touched && form.get('repeatPassword').hasError('required')" class="text-danger support-text">
                      Repeat Password is required.
                    </small>
                    <div style="text-align: center;" *ngIf="isPasswordMismatch">
                      <span style="color: red; font-size: 11px">{{ errorMsg }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input id="contactNumber" type="text" formControlName="contactNumber" minlength="10" maxlength="10" placeholder="Enter Contact Number" autocomplete="off" class="form-control">
                    <small *ngIf="form.get('contactNumber').touched && form.get('contactNumber').hasError('required')" class="text-danger support-text">
                      Contact Number is required.
                    </small>
                    <small *ngIf="form.get('contactNumber').touched && form.get('contactNumber').hasError('pattern')" class="text-danger support-text">
                      Invalid contact number.
                    </small>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="gender">Gender</label>
                    <div (change)="chooseGender()">
                      <label class="custom-control custom-radio custom-control-inline" style="margin-left: 10px;">
                        <input type="radio" formControlName="gender" value="0" class="custom-control-input"><span class="custom-control-label">Male</span>
                      </label>
                      <label class="custom-control custom-radio custom-control-inline" style="margin-left: 10px;">
                        <input type="radio" formControlName="gender" value="1" class="custom-control-input"><span class="custom-control-label">Female</span>
                      </label>
                    </div>
                    <small *ngIf="form.get('gender').touched && form.get('gender').hasError('required')" class="text-danger support-text">
                      Gender is required.
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <button class="btn btn-primary" style="float: right;" [disabled]="!form.valid" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
